<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
<head>
    </head>
    <body>

        <div class="header">
            <h1>Welcome to Buddies & Furry Friends</h1>
        </div>
    
        <div class="description">
            <p>Feed animals and help your furry friends. Volunteering is a selfless act of giving back to the community and making a positive impact in the lives of others. By volunteering, you can contribute your time, skills, and energy to support causes that matter to you. Join us in creating a better world through volunteering. Volunteer by giving feeding stray dogs.</p>
            
            <p class="login-register-link"><a href="/loginregister">Login or Register</a></p>

            </form>
        </div>
    
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    